<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sonos Cast</title>
    {% block styles %}
  

    <link rel="stylesheet" href="{{url_for('.static', filename='css/all.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap4-neon-glow.min.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/hack.css')}}">
     {% endblock %}



    
  </head>
  <body>
{% block navbar %}
  <div class="navbar-dark text-white">
    <div class="container">
      <nav class="navbar px-0 navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a href="index.html" class="pl-md-0 p-3 text-light">Home</a>
            <a href="app.html" class="p-3 text-decoration-none text-light">Settings</a>
            <a href="form.html" class="p-3 text-decoration-none text-light">Credits</a>
          </div>
        </div>
      </nav>

    </div>
  </div>

{% endblock %}

{% block content %}
<div class="container py-0 mb5">
<font color='white'><pre>
      ___           ___           ___           ___           ___                    ___           ___           ___           ___
     /\  \         /\  \         /\__\         /\  \         /\  \                  /\  \         /\  \         /\  \         /\  \
    /::\  \       /::\  \       /::|  |       /::\  \       /::\  \                /::\  \       /::\  \       /::\  \        \:\  \
   /:/\ \  \     /:/\:\  \     /:|:|  |      /:/\:\  \     /:/\ \  \              /:/\:\  \     /:/\:\  \     /:/\ \  \        \:\  \
  _\:\~\ \  \   /:/  \:\  \   /:/|:|  |__   /:/  \:\  \   _\:\~\ \  \            /:/  \:\  \   /::\~\:\  \   _\:\~\ \  \       /::\  \
 /\ \:\ \ \__\ /:/__/ \:\__\ /:/ |:| /\__\ /:/__/ \:\__\ /\ \:\ \ \__\          /:/__/ \:\__\ /:/\:\ \:\__\ /\ \:\ \ \__\     /:/\:\__\
 \:\ \:\ \/__/ \:\  \ /:/  / \/__|:|/:/  / \:\  \ /:/  / \:\ \:\ \/__/          \:\  \  \/__/ \/__\:\/:/  / \:\ \:\ \/__/    /:/  \/__/
  \:\ \:\__\    \:\  /:/  /      |:/:/  /   \:\  /:/  /   \:\ \:\__\             \:\  \            \::/  /   \:\ \:\__\     /:/  /
   \:\/:/  /     \:\/:/  /       |::/  /     \:\/:/  /     \:\/:/  /              \:\  \           /:/  /     \:\/:/  /     \/__/
    \::/  /       \::/  /        /:/  /       \::/  /       \::/  /                \:\__\         /:/  /       \::/  /
     \/__/         \/__/         \/__/         \/__/         \/__/                  \/__/         \/__/         \/__/
</pre></font>


  <div class="row">
    <div class="col-md-3">
        <form class="mb-3">
      
        </form>

        <ul class='list-group'>
          <li class="list-group-item list-group-item-secondary"> <h1 class="display-4">Dashboard</h1></li></ul>
    <div class="d-flex flex-row">
      <div class="p-0">
        <div class="list-group">
          {% for pod in podcast_write %}
          <a href='/episodes/{{pod.id}}' class="list-group-item list-group-item-action list-group-item-light">{{ pod.title }}</a>
           {% endfor %}
        </div>
      </div>
      <div class="p-0 align-self-stretch">
        <div class="list-group">
          {% for pod in podcast_write %}
          <a href='/episodes/{{pod.id}}' class="list-group-item list-group-item-action list-group-item-light"><i class="fas fa-cog"></i></a>
           {% endfor %}
        </div>
      </div>
    </div>
        <br>
     <button type="button" class="btn btn-outline-danger btn-block" data-toggle="modal" data-target="#exampleModal">
  <i class="fas fa-plus-square"></i> Add Podcast
</button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter the RSS address for your podcast.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>
    <div class="col-md-9">

     

  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
     {% for episode in ep_list %}
    <tr>
      <th scope="row">1</th>
      <td>
        <a href="#">
        {{episode.title}}
        </a>
      </td>
      <td>
        <a href="#" class="btn btn-sm btn-primary my-1 my-sm-0">
          <span class="fas fa-edit mr-1"></span>
          Edit</a>
        <a href="#" class="btn btn-sm btn-danger my-1 my-sm-0">
          <span class="fas fa-trash mr-1"></span>
          Delete</a>
      </td>
    </tr>
      {% else %}

      <br>
      {% endfor %}
    
  
  </tbody>
</table>

    </div>
  </div>

</div>
{% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  {% block scripts %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 {% endblock %}
  </body>


</html>
